<div class="container">

 <div class="heading">
     Team Status
     <button class="btn btn-success">New Task</button>
 </div>
  <table class="team">
    <tr>
      <th>Team Name</th>
      <th>Approved By Manager</th>
      <th>Approved By Director</th>
      <th></th>
    </tr>
    <tr *ngFor="let team of this.teamDetailsList">
      <td>{{team.name}}</td>
      <td class="approved-manager">
        <mat-icon class="check-icon">check_circle_outline</mat-icon>
        <mat-icon class="cross-icon">highlight_off</mat-icon>
        <mat-icon class="circle-icon">lens</mat-icon>
      </td>
      <td class="approved-director">
        <mat-icon class="check-icon">check_circle_outline</mat-icon>
        <mat-icon class="cross-icon">highlight_off</mat-icon>
        <mat-icon class="circle-icon">lens</mat-icon>
      </td>
      <td>
       <button class="edit-btn" [routerLink]="['/update-team-details', team.teamDetailsId]">Edit</button>
       <button class="delete-btn" (click)="deleteItem(team)">Delete</button>
      </td>
     </tr>
  </table>
</div>
