<div class="container">

 <div class="row heading">
     <div class="col-md-10">
       <span class="teamstatus-heading">Team Status</span>
     </div>
     <div class="col-md-2">
      <button routerLink="/new-teamdetails" class="btn btn-success">New Task</button>
     </div>
 </div>
  <table class="team">
    <tr>
      <th>Team Name</th>
      <th>Approved By Manager</th>
      <th>Approved By Director</th>
      <th></th>
    </tr>
    <tr *ngFor="let team of this.teamDetailsList">
      <td class="team-name">{{team.teamName}}</td>
      <td class="approved-manager">

        <button mat-icon-button matTooltip="Approved" matTooltipPosition="below"  class="display-approved"  (click)="onCheckClickManager(team.teamDetailsId,team.aprovedByManager)"   *ngIf="team.aprovedByManager == 1" >
            <mat-icon class="check-icon">check_circle_outline</mat-icon>
        </button>
        
        <button mat-icon-button matTooltip="Not Approved" matTooltipPosition="below" class="display-approved"  (click)="onCrossClickManager(team.teamDetailsId,team.aprovedByManager)"  *ngIf="team.aprovedByManager == 2">
          <mat-icon class="cross-icon">highlight_off</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Pending" matTooltipPosition="below"  class="display-approved" (click)="onCircleClickManager(team.teamDetailsId,team.aprovedByManager)"  *ngIf="team.aprovedByManager == 0">
          <mat-icon class="circle-icon">lens</mat-icon>
        </button>

      </td>
      <td class="approved-director">
        <button mat-icon-button matTooltip="Approved" matTooltipPosition="below" class="display-approved" (click)="onCheckClickDirector(team.teamDetailsId,team.approvedByDirector)"   *ngIf="team.approvedByDirector == 1" >
          <mat-icon class="check-icon">check_circle_outline</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Not Approved" matTooltipPosition="below" class="display-approved" (click)="onCrossClickDirector(team.teamDetailsId,team.approvedByDirector)"  *ngIf="team.approvedByDirector == 2">
          <mat-icon class="cross-icon">highlight_off</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Pending" matTooltipPosition="below" class="display-approved" (click)="onCircleClickDirector(team.teamDetailsId,team.approvedByDirector)"  *ngIf="team.approvedByDirector == 0">
          <mat-icon class="circle-icon">lens</mat-icon>
        </button>

      </td>
      <td>
       <button class="edit-btn" [routerLink]="['/update-teamdetails', team.teamDetailsId]">Edit</button>
       <button class="delete-btn" (click)="deleteItem(team)">Delete</button>
      </td>
     </tr>
  </table>
</div>
