<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="body">
        <form class="m-4" [formGroup]="TeamForm">
            <div class="form-group col-md-6">
                <label for="teamName">Team Name</label>
                <input id="teamName" class="form-control"  placeholder="Enter Team Name" type="text" formControlName="teamName" required="true">
                <span class="namefieldvalidation" *ngIf="teamName && teamName.invalid && teamName.touched">Team Name Field is Required</span>
            </div>
            <div class="form-group col-md-6">
                <label for="teamDescription">Team Description </label>
                <textarea id="teamDescription" class="form-control"  placeholder="Enter Team Description" type="text" formControlName="teamDescription" required></textarea>
                <span class="namefieldvalidation" *ngIf="teamDescription && teamDescription.invalid && teamDescription.touched">Team Description Field is Required</span>
              </div>

        <div><h3 style="color:rgb(83, 209, 93)">Team Member</h3></div>
        <div formArrayName="member">
         
            <div *ngFor="let unit of teamDetails.controls; let i = index" formGroupName="{{i}}" class="margin-top">
            
            <table>
                <tbody>
                    <td>
                        <input class="form-control"  placeholder="Enter Name" id="name" type="text" formControlName="name">
                        <span class="namefieldvalidation" *ngIf="name && name.invalid"></span>
                      </td>
                    <td>
                        <input class="form-control" placeholder="Enter Date"  id="dateOfBirth" type="date" formControlName="dateOfBirth">
                    </td>
                    <td>
                        <input class="form-control" placeholder="Contact No" id="contactNo" type="text" formControlName="contactNo">
                    </td>
                    <td>
                      <select placeholder="Gender" formControlName="genderId" class="form-control">  
                        <option disabled>--Select--</option> 
                        <option *ngFor="let gender of genderList" [value]="gender.genderId">{{gender.name}}</option>  
                      </select>  
                    </td>
                </tbody>
            </table>
           </div>       
           
            
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="addNewMember()">Add New Member</button>
        </div>       
        </div>
          <div class="row">
            <div class="col-md-8">
                <button  [disabled]="TeamForm.invalid" class="btn btn-success mt-2" (click)="onSubmit()" mat-raised-button>{{buttonText}}</button>
                <button class="btn btn-success mt-2 exit" routerLink="/team-list" mat-raised-button>Exit</button>
            </div>
          </div>
        </form>
       
      </div>
    </div>
  </div>